/*style.css*/

			/*MAINS FUNCTIONS*/

/*Center the text*/
#textContainer {
	text-align: center;
}

/*Cards size*/
button {
	width: 100px;
	height: 180px;
	margin: 10px;
	border-radius: 20px;
	background-color: white;
}

/*button:hover {
	transform: scale(1.5);
}*/




			/*EVENT CARDS FUNCTIONS*/

/*Temporary class to scale a card*/
.scale {
	transform: scale(4);
	position: absolute;		/*Center the card*/
	top: 50%;
	left: 50%;
}

/*Temporary class to block clic cards*/
.blockClic {
	pointer-events: none;
}

/*Temporary class to allow clic on the current scale card*/
.allowClic {
	pointer-events: auto;
}




			/*BACKGROUND CARDS CLASS*/

/*Temporary class to apply green background on cards*/
.green {
	background-color: green;
}

/*Temporary class to apply yellow background on coffee cards*/
.yellow {
	background-color: yellow;
}

/*Temporary class to apply red background on cards*/
.red {
	background-color: red;
}

/*Temporary class to apply background image on coffee card*/
.coffee {
	background-image: url("assets/images/coffee-cups.png");		/*Relative path*/
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

/*Temporary class to apply background image on holidays card*/
.holidays {
	background-image: url("assets/images/holidays.png");		/*Relative path*/
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}