/*style.css*/

			/*MAINS FUNCTIONS*/

/*Center the text*/
#textContainer {
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}

/*Cards size*/
button {
	width: 100px;
	height: 180px;
	margin: 10px;
	border-radius: 20px;
	background-color: white;
}

/* button:hover {
	transform: scale(1.5);
} */

#timerContainer {
    font-size: 20px;
    font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    color: #333;
}

			/*STYLE FOR HISTORY*/
#historyContainer {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}
#historyList {
    list-style-type: none;
    padding: 0;
}
#historyList li {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e7e7e7;
}




			/*EVENT CARDS FUNCTIONS*/

/*Temporary class to scale a card*/
.scale {
	transform: scale(4);
	position: absolute;		/*Center the card*/
	top: 50%;
	left: 50%;
}

/*Temporary class to block clic cards*/
.blockClic {
	pointer-events: none;
}

/*Temporary class to allow clic on the current scale card*/
.allowClic {
	pointer-events: auto;
}




			/*BACKGROUND CARDS CLASS*/

/*Temporary class to apply green background on cards*/
.green {
	background-color: #8BD59E;
	border-color: #1B9476;
}
/*Temporary class to apply yellow background on coffee cards*/
.yellow {
	background-color: #FFD754;
	border-color: yellow;
}
/*Temporary class to apply red background on cards*/
.red {
	background-color: #C23028;
	border-color: red;
}
/*Temporary class to apply background image on coffee card*/
.coffee {
	background-color: #CA7C5C;
	border-color: #B36A5E;
	color: white;
	background-image: url("assets/images/coffee-cups.png");		/*Relative path*/
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
/*Temporary class to apply background image on holidays card*/
.holidays {
	background-color: #5FC2BA;
	border-color: #27C7D4;
	color: white;
	background-image: url("assets/images/holidays.png");		/*Relative path*/
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}